@import url('./assets/styles/header.css');
@import url('./assets/styles/switchNetwork.css');
@import url('./assets/styles/newGame.css');
@import url('./assets/styles/gamedetail.css');
@import url('./assets/styles/history.css');
@import url('./assets/styles/activegame.css');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-[black] text-[white];
}

button:hover {
  @apply cursor-pointer outline-[none] shadow-[10px_10px_10px_rgba[0,0,0,0.95]] transition-all ;
}

button:active{
  transform: scale(0.98); 
  @apply shadow-[3px_2px_1px_rgba(0,0,0,0.24)];
}